# Node for Visual Studio user and project files.
*.suo
.ntvs_analysis.dat
*.sln
*.njsproj

# Node for Visual Studio object output directory.
obj/

# Node for Visual Studio settings directory.
.settings/

# GIT stuff
.git
.gitignore

# SVN stuff
.svn

# Don't include these either.
.idea
.npmignore
node_modules
dist/*.js

# Modeclipse project file
.project

# JSHint config file.
.jshintrc

# Brackets project file.
.brackets.json

# Shell utility scripts
*.cmd
*.bat
*.sh

# WebPack config file
webpack.config.js

# Grunt build script
Gruntfile.js

# Visual Studio Code settings
.vscode/