'use strict';

const webpack = require('webpack');
const path = require('path');

const APP_VER = JSON.stringify(require('./package.json').version).replace(/\"/g, "");

module.exports = {
    entry: './src/jsrpi.js',
    output: {
        path: path.resolve(__dirname, 'build'),
        filename: 'jsrpi-' + APP_VER + '-bundle.js'
    },
    stats: {
        colors: true,
        modules: true,
        reasons: true
    },
    target: 'node',
    watch: false
};
